<md-sidenav class="md-sidenav-right md-whiteframe-z2 md-primary" md-component-id="right" md-colors="::{backgroundColor: 'accent'}">
    <md-content>
        <div 
            layout="column"
            md-colors="::{backgroundColor: 'accent'}">
            <div 
                flex>
                <h2 class="baloo text-center">MG</h2>
                <md-divider></md-divider>
            </div>
            <div 
                flex>
                <md-list md-colors="::{backgroundColor: 'accent'}">
                    <md-list-item class="md-3-line" ui-sref="home">
                        <div flex></div>
                            Home
                        <div flex></div>
                    </md-list-item>
                    <md-list-item class="md-3-line" ui-sref="about">
                        <div flex></div>
                            About
                        <div flex></div>
                    </md-list-item>
                    <md-list-item class="md-3-line" ui-sref="work">
                        <div flex></div>
                            Work
                        <div flex></div>
                    </md-list-item>
                    <md-list-item class="md-3-line" ui-sref="lab">
                        <div flex></div>
                            Lab
                        <div flex></div>
                    </md-list-item>
                    <md-list-item class="md-3-line" ui-sref="contact">
                        <div flex></div>
                            Contact
                        <div flex></div>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </md-content>
</md-sidenav>
