/* app css stylesheet */
body {
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5 {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1.3px;
}
a {
	text-decoration: none;
}
.text-center {
	text-align:center;
}
.lh-zero {
	line-height:0 !important;
}
.baloo {
	font-family: 'Baloo', cursive;
}
.anton {
	font-family: 'Anton', sans-serif;
}
.logo span {
	display:none;
	transition:.2s;
}
.logo:hover span {
	display:inline-block;
	transition:.2s;
}
md-tooltip .md-content {
  height:auto !important;
  font-size:12px;
  background-color:#fff !important;
  border:1px solid #222;
  color:#222;
  padding:13px;
  text-align:center;
}
.display-4 {
	font-size:7rem;
}
@media (max-width:1330px){
	.display-4 {
		font-size:6rem;
	}
}
@media (max-width:1160px){
	.display-4 {
		font-size:5rem;
	}
}
@media (max-width:975px){
	.display-4 {
		font-size:4rem;
	}
}
@media (max-width:800px){
	.display-4 {
		font-size:3rem;
	}
}
@media (max-width:625px){
	.display-4 {
		font-size:2rem;
	}
	.lh-zero {
		line-height:inherit !important;
	}
}