<section class="hero">
	<div
		layout
		layout-padding
		layout-margin>
		<div 
			flex="10"
			flex-xs="5"
			flex-sm="5"></div>
		<div flex class="text-center">
			<p>I will be adding learning projects, experiments and cool stuff I produce for fun over time. Stay tuned for more!</p>
		</div>
		<div 
			flex="10"
			flex-xs="5"
			flex-sm="5"></div>
	</div>
</section>
<div 
	layout
	layout-padding
	layout-margin
	layout-xs="column"
	layout-sm="column"
	ng-repeat="lab in labs">
	<div 
		flex="10"
		flex-xs="5"
		flex-sm="5"></div>
		<div 
			flex="40"
			flex-xs="100"
			flex-sm="100">
			<div
				layout
				layout-align="center center">
				<div flex="none">
					<h3 class="md-headline">{{lab.title}}</h3>
				</div>
				<div flex></div>
				<div flex="none">
					<md-button target="_blank" href="{{lab.href}}" class="md-raised md-accent">Try it</md-button>
				</div>
			</div>
			<h5>Summary</h5>
			<md-divider></md-divider>
			<p>
				{{lab.summary}}
			</p>
			<h5>Purpose</h5>
			<md-divider></md-divider>
			<p>
				{{lab.purpose}}
			</p>
			<h5>Current Features</h5>
			<md-list>
				<md-list-item ng-repeat="feature in lab.features">
					<div flex="none">
						{{feature}}
					</div>
					<div flex></div>
					<div flex="none">
						<md-icon md-colors="::{color: 'accent'}" md-font-icon="fa fa-check"></md-icon>
					</div>
				</md-list-item>
			</md-list>
			<h5>Roadmap</h5>
			<md-list>
				<md-list-item ng-repeat="roadmap in lab.roadmap">
					<div flex="none">
						{{roadmap}}
					</div>
					<div flex></div>
					<div flex="none">
						<md-icon md-font-icon="fa fa-plus"></md-icon>
					</div>
				</md-list-item>
			</md-list>
			<h5>TL:DR</h5>
			<md-divider></md-divider>
			<md-chips readonly="true" ng-model="lab.tldr">
			</md-chips>
		</div>
		<div 
			flex="40"
			flex-xs="100"
			flex-sm="100">
			<img flex src="assets/images/{{lab.img}}" width="100%">
		</divm >
	<div 
		flex="10"
		flex-xs="5"
		flex-sm="5"></div>	
</div>