<md-toolbar class="md-whiteframe-1dp">
  <div class="md-toolbar-tools" layout>
    <div flex="10"></div>
    <a ui-sref="home" class="baloo md-title">MG</a>
    <span flex></span>
    <md-button ui-sref="home" name="home">Home</md-button>
    <md-button ui-sref="about" name="about">About</md-button>
    <md-button ui-sref="work" name="work">Work</md-button>
    <md-button ui-sref="lab" name="lab">Lab</md-button>
    <md-button ui-sref="contact" name="contact">Contact</md-button>
    <div flex="10"></div>
  </div>
</md-toolbar>