<md-toolbar class="md-whiteframe-1dp sticky">
    <div 
        class="md-toolbar-tools">
        <div 
            flex="10"
            flex-xs="5"
            flex-sm="5"></div>
            <a ui-sref="home" class="baloo md-title">MG</a>
            <div flex></div>
            <md-button class="md-accent md-fab md-mini" aria-label="Side Panel" ng-click="openSideNavPanel()" style="margin:0;">
                <md-icon md-font-icon="fa fa-bars"></md-icon>
            </md-button>
        <div 
            flex="10"
            flex-xs="5"
            flex-sm="5"></div>
    </div>
</md-toolbar>
