<section class="hero" style="background-image:url('assets/images/space.jpg');">
    <div layout layout-padding layout-margin>
        <div flex="10" flex-xs="5" flex-sm="5"></div>
        <div flex class="text-center">
            <h1 class="anton display-4">Work</h1>
        </div>
        <div flex="10" flex-xs="5" flex-sm="5"></div>
    </div>
</section>
<section class="workWork">
	<div 
		layout>
		<div flex class="text-center padding60">
			<p>I spent the last two years at a Start UP creating a cloud-based CMS for web agencies.</p>
            <p>Along with Front End Development, I also helped build, convert, and maintain hundreds of websites.</p>
		</div>
	</div>
    <div 
    	layout
    	layout-wrap>
        <div 
        	flex="25"
        	flex-xs="100"
        	flex-sm="50"
        	flex-md="33"
        	ng-repeat="project in projects">
	        <md-card md-colors="::{backgroundColor: 'primary'}" >
	            <img ng-src="assets/images/{{project.image}}" class="md-card-image">
	            <md-card-title>
	                <md-card-title-text>
	                    <span class="md-title">{{project.title}}</span>
	                </md-card-title-text>
	            </md-card-title>
	            <md-card-actions layout="row" layout-align="end center">
	                <md-button target="_blank" href="{{project.href}}" class="md-raised md-accent">
	                    Visit
	                </md-button>
	            </md-card-actions>
	        </md-card>
	    </div>
    </div>
</section>
<section class="workHats">
	<div 
		layout>
		<div flex class="text-center">
		</div>
	</div>
    <div 
    	layout 
    	layout-wrap>
    		<div 
    			flex="33"
    			flex-xs="100"
    			flex-sm="50"
    			flex-md="33"
    			ng-repeat="hat in hats">
	            <md-card md-colors="::{backgroundColor: 'default-primary-500'}">
	                <md-card-title>
	                    <md-card-title-text>
	                        <span class="md-headline">{{hat.title}}</span>
	                    </md-card-title-text>
	                </md-card-title>
	                <md-card-content>
	                    <p>
	                        {{hat.copy}}
	                    </p>
	                </md-card-content>
	            </md-card>
	        </div>
        </div>
    </div>
</section>
<section class="hireMe" md-colors="::{backgroundColor: 'accent'}">
    <div layout layout-margin layout-padding>
        <div class="text-center" flex>
            <h3 class="md-display-2 anton lh-zero">Want to work together?</h3>
            <p class="md-body-1">Seeking Full-time, part-time, or contract positions</p>
            <md-button ui-sref="contact" class="md-primary md-raised">Let's talk</md-button>
        </div>
    </div>
</section>
