<section>
	<div 
		layout>
		<div 
			flex
			flex-xs="33"
			flex-sm="33"></div>
		<div 
			flex="none">
			<md-button href="mailto:m.gill@outlook.com" class="md-fab md-mini" aria-label="Email">
			  <md-icon md-font-icon="fa fa-envelope"></md-icon>
			</md-button>
			<md-button href="tel:9543306158" class="md-fab md-mini md-primary" aria-label="Phone">
			  <md-icon md-font-icon="fa fa-phone"></md-icon>
			</md-button>
			<md-button href="https://github.com/GITmgill" target="_blank" class="md-fab md-mini" aria-label="github">
			  <md-icon md-font-icon="fa fa-github"></md-icon>
			</md-button>
			<md-button href="http://linkedin.com/in/mark-gill-638b3b9b" target="_blank" class="md-fab md-mini md-primary" aria-label="linkedin">
			  <md-icon md-font-icon="fa fa-linkedin"></md-icon>
			</md-button>
		</div>
		<div 
			flex="10"
			flex-xs="33"
			flex-sm="33"></div>
	</div>
</section>