<section>
	<div 
		layout>
		<div 
			flex
			flex-xs="33"
			flex-sm="33"></div>
		<div 
			flex="none">
			<md-button class="md-fab md-mini" aria-label="Email">
			  <md-icon href="mailto:m.gill@outlook.com" md-font-icon="fa fa-envelope"></md-icon>
			</md-button>
			<md-button class="md-fab md-mini md-primary" aria-label="Phone">
			  <md-icon href="tel:9543306158" md-font-icon="fa fa-phone"></md-icon>
			</md-button>
			<md-button class="md-fab md-mini" aria-label="Email">
			  <md-icon href="https://github.com/GITmgill" md-font-icon="fa fa-github"></md-icon>
			</md-button>
			<md-button class="md-fab md-mini md-primary" aria-label="Phone">
			  <md-icon href="www.linkedin.com/in/mark-gill-638b3b9b" target="_blank" md-font-icon="fa fa-linkedin"></md-icon>
			</md-button>
		</div>
		<div 
			flex="10"
			flex-xs="33"
			flex-sm="33"></div>
	</div>
</section>