<section class="hero" style="background-image:url('assets/images/monkey.jpg');">
	<div 
		layout 
		layout-padding 
		layout-margin>
		<div 
			flex 
			class="text-center">
			<h1 class="anton display-4">Hey</h1>
		</div>
	</div>
</section>
<div 
	layout>
	<div 
		flex="10">
	</div>
	<div 
		class="text-center"
		flex="20">
		<img src="assets/images/me.jpg" style="width:100%" class="me"/>
		<md-button href="assets/downloads/markgillresume.pdf">Resume</md-button>
        <md-button ui-sref="contact">Hire Me</md-button>
	</div>
	<div 
		flex="40"
		flex-xs="60"
		flex-sm="60"
		flex-md="50">
		<md-card 
			ng-repeat="post in posts">
			<md-card-header>
	          <md-card-avatar>
	            <img src="assets/images/me.jpg">
	          </md-card-avatar>
	          <md-card-header-text>
	            <span class="md-title">Mark Gill</span>
	            <span class="md-subhead">Front End Developer</span>
	          </md-card-header-text>
	        </md-card-header>
			<md-divider></md-divider>
	        <md-card-content ng-bind-html="post.html | unsafe"></md-card-content>
	 		<md-divider></md-divider>
	 		<md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
	 			<md-button disabled>{{post.count}}</md-button>
	 			<md-button class="md-fab md-mini" ng-click="addOne(post.count, $index)"><md-icon md-font-icon="fa fa-thumbs-up"></md-icon></md-button>
        	</md-card-actions>
	     </md-card>
	</div>
	<div 
		flex="10">
	</div>
</div>

